
/* Header & Footer */
header, footer {
    background-color: #0867A3;
    color: #FFF;
}

header {
    padding: 2%;
    text-align: left;
    position: relative;
    color:#FFF;
}

.logo-image {
    background-image: url(../images/GameHub_Logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 7vh;
}

.contact_info_footer {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: 5% 2%;
}

.text_footer, .info_footer  {
    display: inline-grid;
    margin: 3%;
    font-size: small;
}

.newsletter {
    font-size: small;
    font-family: Palatino, Verdana, sans-serif;  
    text-decoration: none;
    font-size: small;
}

input.input_newsletter {
    display: inline-block;
    padding: 2% 4%;
}

.iconfooter {
    color: #FFF;
}

.topbar_gamespage, .topbar_homepage, .topbar_contactpage, .topbar_about {
    background-color: #0868a33b;
}

.topbar_homepage, .topbar_contactpage, .topbar_about {
    padding: 10px;
}

/* Fonts */
h1, h2, h3 {
    font-family: Tahoma, Verdana, sans-serif;
}

p, #first_section_text, input, textarea, label, input.cardholder, #contact-info  {
    font-family: Palatino, Verdana, sans-serif;
}

.h2-item, .h1heading {
    padding-left: 5%;
}

.h2-item_topbar {
    padding: 1% 38%;
    color: #000;
}

#contact-info, a.nav_gamespage, input, textarea, label {
    font-size: larger;
}

.h1heading {
    font-size: x-large;
}

/* Nav */
nav, #menu-checkbox {
    display: none;
}

#user-checkbox {
    display: none;
}

#menu-checkbox:checked ~nav, .user-icon:checked ~nav  {
    display: block;
}

nav {
    background: #0867A3;
    position: absolute;
}

.header_links {
    float: left;
}

nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    font-family: Palatino, Verdana, sans-serif;
}

nav li {
    display: inline-block;
    padding: 10px 10px 0px;
    font-family: Palatino, Verdana, sans-serif;
}

nav a:hover, a.nav_gamespage:hover {
    text-decoration: underline;
}

.signup {
    float: right;
}

a.nav_gamespage {
    color: #000;
    text-decoration: none;
}

li.nav_gamespage {
    margin: 1% 9%;
}

/* Buttons */
.cta, .cta-read-more, .cta-input-footer, .cta_heart, .cta_gamespage, .cta_pay, .cta-login, .cta-input, .cta-discount, .cta_heart_gamespage, .cta_gamepage {
    background-color: #F0A53C;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.cta-login {
    color: #000;
}

.cta-input, .cta-input-footer, .cta_heart_gamespage, .cta-login, .cta-discount {
    border-style: none;
}

.cta-discount {
    padding: 5px 10px;
}

.cta_gamespage {
    width: 60px;
    display: inline;
    margin-right: 10%;
    padding: 10% 15%;
}

.cta-read-more, .cta_heart, .cta-input, .cta-input-footer, .cta_heart_gamespage {
    background-color: #3CAAF0;
}

.cta-read-more, cta_heart_gamespage {
    transition-property: background-color;
}

.cta-read-more:hover {
    background-color: #F0A53C;
}

.cta_heart_gamespage:hover {
    background-color: #F03C3C;
}

.cta-input-footer {
    padding: 5px;
}

.cta_heart_gamespage {
    width: 20px;
    float: right;
}

/* Home Page */
.first_section_homepage {
    background-image: url(../images/motocross-big.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: bottom;
    background-position-y: top;
    min-height: 70vh;
    margin-left: 5%;
    margin-right: 5%;
}

#first_section_text {
    color: #FFF;
    font-size: large;
    padding-top: 33%;
}

.container-homepage {
    display: grid;
    text-align: left;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    margin: 5%;
    gap: 5%;
}

.game-text {
    margin: 5%;
    font-family: Palatino, Verdana, sans-serif;
}

.gameimage {
    max-width: 30%;
    float:left ;
    margin: 2%;  
}   

#top-text {
    padding-left: 5%;
}


/* Games Page */
#bottom-section-games-page{
    background-image: url(../images/bluecar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    background-position-y: bottom;
    min-height: 50vh;
    margin: 0% 5%;
    padding: 5%;
}

.nav_gamespage{
    display: inline-block;
    align-items: center;
}

.container_games_page, .row1, .row2, .row3, .game, .buttons_gamespage {
    display: flex;
    flex-direction: column;
}

.row1, .row2, .row3 {
    flex-direction: row;
    align-content: baseline;
    padding-bottom: 5%;
}

.game {
    align-items: center;
}

.image_gamepage {
    max-width: 60%;
    padding: 0%;
}

.buttons_gamespage {
    gap: 3%;
    flex-direction: row;
}

.heartgamepage {
    color: #FFF;
}

/* Game Page Racing*/
.gameimage_gamepage {
    max-width: 75%;
}

.container_gamepage {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px 350px;
    margin: 5% 15%;
}

.info_gamepage {
    margin-top: 10%;
}

.form_input {
    display: inline;
    background-color: #FFF;
}
.label_gamepage {
    margin: 3%;
    padding: 0%;
}

.price_gamepage {
    margin-left: 30%;
}

.price_gamepage_one{
    margin-left: 33%;
}

.game_info {
    margin-top: 25%;
}

fieldset.game_page {
    margin: 4% 0%;
    max-width: 80%;
    padding-top: 4%;
    border-style: outset;
}

.delivery_info {
    display: grid;
    grid-template-columns: 50px 200px;
    grid-template-rows: 50px;
    margin: 5% 0%
}

.deliverytruck {
    margin-top: 60%;
}

/* Contact Page */
.gameimage_contact {
    max-width: 30%;
    padding: 0% 35%;
}

input, textarea {
    display: block;
    margin-bottom: 4%;
}

input, textarea, label {
    margin-left: 30px;
}

#contact-info {
    font-size: x-large;
    margin-left: 10%;
}

#log-in-form, #contact-form {
    background-color: #f0a53c61;
    justify-self: center;
    padding: 5% 5%;
}
#contact-form {  
    margin: 0% 0% 20% 5%;
}

#log-in-form {
    margin: 0% 0% 20% 5%;
}

.form_contactpage, .container_direct_contact {
    display: grid;
}

.form_contactpage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;
}

.container_direct_contact{
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 2% 2%;
} 

.direct_contact_header {
    font-weight:lighter ;
    padding-left: 5%;
    margin-bottom: 5%;
    margin-top: 0%;
}

.directcontact_icons {
    color: #0867A3;
}

/* Checkout Page */
.checkout_container, .details_checkout, .container_grid_checkout, .checkout_total {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    padding: 5% 5%;
    gap: 5%;
}

.details_checkout {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    padding: 1% 0%;
}

.container_grid_checkout, .checkout_total {
    padding: 2% 10%;
}

.checkout_containerone, .checkout_containerthree, .checkout_containertwo {
    grid-column: 1;
    grid-row: 1;
    padding-top: 5%;
}

.checkout_containertwo {
    grid-column: 2;
    padding-top: 5%;
}

.checkout_containerthree {
    padding-top: 60%;
}

.customer_details {
    border-style: solid;
    border-color: lightgrey;
    border-width: thin;
    border-radius: 3%;
    padding: 5%;
    max-height: 300px;
}

.header_customer_detail {
    color: lightgrey;
}

.payment_radio {
    display: flex;
    font-size: small;
    min-width: 100px;
}

.payment_info_header {
    padding: 3% 0% 0% 0%;
}

.payment_info {
    font-size: medium;
}

.checkout_summary {
    background-color:#f0a53c61;
    max-width: 500px;
    padding: 10%; 
}

.gameimage_checkout {
    max-width: 50%;
}

input.cardholder {
    display: block;
    font-size: medium;
    margin-bottom: 2%;
}

input.discount_input {
    display: inline;
    padding: 10px;
}

.discount_container {
    padding: 3% 2% 0%;
}

.price_checkout {
    text-align: end;
}

.checkout_text, .checkout_text_top {
    padding: 4% 0%;
}

/*Checkout Sucess */

.container_checkoutsucess, .order_summary {
    display: grid;
    gap: 5%;
}

.container_checkoutsucess {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    padding: 5% 5%;
}

.order_summary {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 5%;
}

.ordersummary_header {
    font-weight: bold;
}

.success_information {
    padding: 3%;
    padding-top: 5%;
}

.green_checksymbol {
    max-width: 50%;
    padding-left: 25%;
}

.order_confirmed{
    font-size: medium;
    padding-bottom: 5%;
}

/* About Page */
.container_about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about_image {
    max-width: 80%;
    padding: 5%;
    margin: 5%;
}

#about-info-text {
    text-align: left;
    margin: 3%;
    font-size: large;
    padding: 8%;
}

/* Media Queries */

/* Phone */
@media (min-width: 800px) {
    nav {
        display: block;
        position: static;
    }

    .hamburger-icon  {
        display: none;
    }

    nav a {
        display: inline-block;
    }
}

@media (max-width: 799px) {
    /* Common settings? */
    .container-homepage, .container_checkoutsucess, .checkout_container, .container_gamepage {
        display: flex;
        flex-direction: column;
        padding: 5% 0%;
    }
    
    .first_section_homepage {
        background-image: url(../images/motocross-big.jpg);
        background-position-x: center;
        background-position-y: top;
    }

    #first_section_text {
        padding-top: 142%;
    }

    #bottom-section-games-page{
        background-image: url(../images/bluecarsmall.jpg);
        background-position-x: left;
        background-position-y: bottom;
        min-height: 20vh;
    }

    .first_section_homepage, #top-section-games-page {
        margin-right: 5%;
        margin-left: 5%;
    } 
    
    .game_section {
        padding: 5% 0%;
    }

    .cta-read-more {
        float: right;
    }

    .h1heading {
        font-size: medium;
    }

    /* Footer */
    .contact_info_footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        padding: 5%;
        justify-content: center;
        gap: 2%;
    }

    .contact_text_footer, nav.footer_social  {
        display: flex;

    }

    .footer_social {
        margin-left: 4%;
    }

    .newsletter, .contact_text_footer, nav.footer_social {
        font-size: xx-small; 
        padding: 0% 4%;
    }
    
    input.input_newsletter {
        padding: 2% 7%;
        margin-left: 5%;
    }

     /* Games Page */
    .cta_heart_gamespage {
        padding: 5px;
    }
    
    .cta_gamespage {
        padding: 5px;
    }

    .row1, .row2, .row3 {
        align-content: baseline;
        padding-bottom: 5%;
        flex-wrap: wrap;
    }
    
    .game {
        max-width: 50%;
    }

    a.nav_gamespage, .container_direct_contact  {
        font-size: small;
    }
    
    li.nav_gamespage {
        margin: 1% 3%;
    }

    .h2-item_topbar {
        padding: 1% 20%;
        color: #000;
    }

    /* Contact page */
    .form_contactpage {
        display: grid;
        grid-template-columns: 1fr;
    }

    .direct_contact_header, .h2-item_topbar, .cta_gamespage, #first_section_text  {
        font-size: medium;
    }

    #log-in-form, #contact-form {
        margin: 5%;
    }
    #contact-form {
        max-width: 400px;
    }

    input, textarea, label {
        margin-left: 10px;
        font-size: small;
    }

    input, textarea {
        display: block;
        margin-bottom: 4%;
    }

    /* Checkout */
    .checkout_summary {
        margin-top: 5%;
    }

    .checkout_container{
        margin-top: 0%;
        flex-direction: column-reverse;
    }

    /* Racing */
    .container_gamepage {
        display: inline-grid;
        grid-template-columns: 1fr;
        grid-template-rows: 350px 350px 350px;
        margin: 5% 5%;
    }

    .label_gamepage, .price_gamepage, .price_gamepage_one {
        font-size: large;
    }

    .label_gamepage {
        margin: 3%;
        padding: 0%;
    }
    
    .price_gamepage {
        margin-left: 15%;
    }
    
    .price_gamepage_one{
        margin-left: 18%;
    }

    .info_gamepage {
        margin-top: 20%;
    }

    .gameimage_gamepage {
        max-width: 80%;
    }

    fieldset {
        padding-bottom: 2%;
    }

    .checkout_containerone {
        margin-top: 5%;
    }

    .checkout_containerthree {
        padding-top: 0%;
    }    

    /* About */
    .container_about {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}

/* Tablet */ 
@media (min-width: 800px) and (max-width: 1080px) {
    /* Header & Footer */
    .header_links {
        font-size: smaller;
    }

    .logo-image {
        background-image: url(../images/GameHub_Logo.png);
        min-height: 5vh;
    }
    

    .contact_info_footer {
        display: flex;
        flex-direction: column;
        padding: 5% 25%;
        
    }
    
    .newsletter {
        font-size: x-small;
    }
    
    .text_footer, .info_footer  {
        font-size: small;
        padding-left: 2%;
    }

    .footer_social {
        padding-bottom: 8%;
        padding-left: 8%;
    }

    input.input_newsletter {
        display: inline-block;
        padding: 2% 4%;
    }


    /* Homepage */
    #first_section_text {
        font-size: large;
        padding-top: 87%;
    }

    .cta-read-more {
        float: right;
    }

    /* Game page */
    #bottom-section-games-page{
        background-image: url(../images/bluecar.jpg);
        min-height: 25vh;
    }
    
    .nav_gamespage{
        display: inline-block;
        align-items: center;
    }
    
    a.nav_gamespage {
        font-size: medium;
    }
    
    li.nav_gamespage {
        margin: 1% 7%;
    }

    .h2-item_topbar {
        padding: 1% 35%;
        color: #000;
        font-size: large;
    }

    /* Racing page */
    .container_gamepage {
        display: grid;
        margin: 5% 5%;
    }

    .label_gamepage, .price_gamepage, .price_gamepage_one {
        font-size: large;
    }

    .price_gamepage {
        margin-left: 15%;
    }
    
    .price_gamepage_one{
        margin-left: 18%;
    }

    .info_gamepage {
        margin-top: 10%;
    }

    .gameimage_gamepage {
        max-width: 90%;
        margin-top: 5%;
    }


    /* Checkout */
    .checkout_container, .details_checkout, .container_grid_checkout, .checkout_total {
        padding: 3% 3%;
        gap: 3%;
    }
    
    
    .container_grid_checkout, .checkout_total {
        padding: 2% 5%;
    }

    .checkout_containerthree {
        padding-top: 90%;
    }
    
    /*Checkout Sucess */
    .container_checkoutsucess {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        padding: 3% 3%;
    }

    .order_summary {
        gap: 3%;
        padding-top: 5%;
    }

    .order_summary{
        font-size: small;
    }
        
    /* Contact Page */
    .gameimage_contact {
        max-width: 50%;
        padding: 3% 25%;
    }

    input, textarea, label {
        font-size: medium;
    }
}