
/* Header & Footer */

header, footer {
    background-color: #0867A3;
    color: #FFF;
    
}

header {
    padding: 15px;
    text-align: left;
    position: relative;
    color:#FFF
}

.logo-image {
    background-image: url(../images/GameHub_Logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 7vh;
}

.contact_info_footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 3% 7%;
    justify-items: center;
}


.info_footer {
    display: inline-grid;
}

.text_footer {
    margin: 3%;
    padding-right: 8%;
    font-size: small;
}

.newsletter {
    font-size: small;
    font-family: Palatino, Verdana, sans-serif;  
    padding-left: 35%;
    padding: 1% 1% 1% 35%;
    text-decoration: none;
    font-size: small;
}



/* Fonts */

h1, h2 {
    font-family: Tahoma, Verdana, sans-serif;
}

h3 {
    font-family: Tahoma, Verdana, sans-serif;
}

p {
    font-family: Palatino, Verdana, sans-serif;
}


/* Nav */

nav, #menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~nav {
    display: block;
}

nav {
    background: #0867A3;
    /* position: absolute; */
}

.header_links {
    float: left;
}


nav a {
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    font-family: Palatino, Verdana, sans-serif;
}


nav li {
    display: inline-block;
    padding: 10px 10px 0px;
    font-family: Palatino, Verdana, sans-serif;
}

nav a:hover {
    text-decoration: underline;
}

.signup {
    float: right;
}


/* Buttons */

.cta {
    background-color: #F0A53C;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.cta-read-more {
    background-color: #3CAAF0;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.cta-input-footer {
    background-color: #3CAAF0;
    color: #FFF;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
    text-decoration: none;
}

.cta_heart {
    background-color: #3CAAF0;
    padding: 10px;
    border-style: none;
    border-radius: 5px;
}

.cta_heart_gamespage {
    background-color: #3CAAF0;
    padding: 10px;
    border-style: none;
    border-radius: 5px;
    max-width: 20px;
    margin: 3%;
    float: right;
}

.cta_gamespage{
    background-color: #F0A53C;
    color: #FFF;
    padding: 10px;
    max-width: 80px;
    border-radius: 5px;
    text-decoration: none;
}




/* Home Page */

#first_section {
    background-image: url(../images/motocross-big.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: bottom;
    background-position-y: top;
    min-height: 70vh;
    margin-left: 5%;
    margin-right: 5%;
}

#first_section_text {
    color: #FFF;
    font-size: large;
    font-family: Palatino, Verdana, sans-serif;
    padding-top: 400px;
}

/*.container-homepage > * {
    flex: 1;
}
*/

.container-homepage {
    display: inline-grid;
    text-align: left;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 5%;
    gap: 5%;
}


.game-text {
    padding: 5px 25px 15px 0px;
}

.gameimage {
    max-width: 20%;
    float:left ;
    margin: 2%;
    
}   

.container-flex-h2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.h2-item {
    padding: 0%;
}

#top-text {
    padding-left: 5%;
}



/* Games Page */

#top-section-games-page{
    background-image: url(../images/bluecar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    background-position-y: bottom;
    min-height: 50vh;
    margin-left: 35%;
    margin-right: 5%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    gap: 5%;
    padding: 5%;
}

.container_games_page {
    display: flex;
    flex-direction: column;
    
}

.row1, .row2, .row3 {
    display: flex;
    flex-direction: row;
    align-content: baseline;
    padding-bottom: 5%;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.image_gamepage {
    max-width: 50%;
    padding: 0%;
    /*display: flex inline;*/
}

.sidebar_gamespage {
    text-decoration: none;
    background-color: #FFF;
    color: #000;
}



/* Game Page Racing*/

.gameimage_gamepage {
    max-width: 75%;
}

.container_gamepage {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px 350px;
    margin: 5% 15%;
}

.info_gamepage {
    margin-top: 10%;
}

.form_input {
    display: inline;
    background-color: #FFF;
}
.label_gamepage {
    margin: 3%;
    padding: 0%;
}

.price_gamepage {
    margin-left: 30%;
}

.price_gamepage_one{
    margin-left: 33%;
}

.game_info {
    margin-top: 25%;
}

fieldset {
    margin: 4% 0%;
    max-width: 80%;
    padding-top: 4%;
    border-style: outset;
}

.delivery_info {
    display: grid;
    grid-template-columns: 50px 200px;
    grid-template-rows: 50px;
    margin: 5% 0%
}

.deliverytruck {
    margin-top: 60%;
}



/* Contact Page */

#top-section-contact-page{
    background-image: url(../images/GameHub_Logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 40vh;
    margin-left: 35%;
    margin-right: 35%;
}

input {
    display: block;
    margin-left: 30px;
    font-size: larger;
    font-family: Palatino, Verdana, sans-serif;
    margin-bottom: 4%;
}

label {
    margin-left: 30px;
    font-size: larger;
    font-family: Palatino, Verdana, sans-serif;
}

textarea {
    display: block;
    margin-left: 30px;
    font-size: larger;
    font-family: Palatino, Verdana, sans-serif;
}


#contact-info {
    font-size: 25px;
    font-family: Palatino, Verdana, sans-serif;
}

#contact-form {
    background-color: #EBF7FD;
    margin-right: 20%;
    margin-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#log-in-form {
    margin-right: 5%;
    margin-left: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.form_contactpage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    margin: 5%;
}

#contact-info {
    margin-left: 7%;
}

.cta-login {
    background-color: #F0A53C;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    text-decoration: none;
}

.cta-input {
    background-color: #3CAAF0;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    text-decoration: none;
}



/* Checkout Page */



/* About Page */
#first-section-about-page {
    background-image: url(../images/man_gaming_big.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 70vh;
    margin-left: 55%;
    margin-right: 10%;
}

#about-info-text {
    text-align: left;
    margin-right: 60%;
    font-size: 20px;
}

.floated {
    float: right;
}


/* Media Queries */

@media (min-width: 600px) {
    nav {
        display: block;
        position: static;
    }

    .hamburger-icon {
        display: none;
    }

    nav a {
        display: inline-block;
    }
}

@media (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}