/* Root variables */
:root {
    --head_foot_blue:#0867a3;
    --pale_blue: #0868a33b;
    --orange: #f0a53c;
    --black: #000;
    --pale_orange: #f0a53c61;
    --white: #fff;
    --pinkish: #f03c3c;
    --font_family: Palatino, Verdana, sans-serif
}

/* Header & Footer */
header, footer {
    background-color: var(--head_foot_blue);
}

header {
    padding: 2%;
    text-align: left;
    position: relative;
}

.logo_image {
    background-image: url(../images/GameHub_Logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 10vh;
}

.contact_info_footer {
    grid-template-rows: 1fr;
    padding: 2%;
    margin: 0% 5%;
}   

.text_footer, .info_footer  {
    display: inline-grid;
    margin: 3%;
    padding-top: 2%;
}

.newsletter {
    text-decoration: none;
    padding-top: 6%;
}

input.input_newsletter {
    display: inline-block;
    padding: 2% 4%;
    margin: 0% 3%;
    width: 250px;
}

/* Topbar */
.topbar_gamespage, .topbar_homepage, .topbar_contactpage, .topbar_about, .top_text {
    background-color: var(--pale_blue);
}

.topbar_homepage, .topbar_contactpage, .topbar_about, .top_text {
    padding: 10px;
}

.topbar_homepage, .topbar_gamespage {
    padding-bottom: 1%;
}

nav.links_topbar_gamespage {
    background-color: var(--pale_blue);
}

/* Fonts */
h1, h2, h3 {
    font-family: Tahoma, Verdana, sans-serif;
}

p, #first_section_text, input, textarea, label, input.cardholder, #contact-info, .newsletter, .game_text, nav a, nav li, a.game_link, a.cta_login_contactpage, a.cta_input_contactpage, .cta_discount, .cta   {
    font-family: var(--font_family);
}

.h2-item, .h1heading {
    padding-left: 5%;
}

.h2-item {
    padding-top: 3%;
}

.h2-item_topbar {
    padding: 1% 38%;
}

.h2-item_topbar, .cta_login, a.nav_gamespage {
    color: var(--black);
}

.contact_info, a.nav_gamespage, input, textarea, label {
    font-size: larger;
}

.h1heading, .contact_info {
    font-size: x-large;
}

.game_link {
    font-size: xx-large;
}

#first_section_text, #about_info_text {
    font-size: large;
}

.text_footer, .info_footer, .newsletter, .payment_radio {
    font-size: small;
}

.order_confirmed, .payment_info, input.cardholder, a.cta_input_footer, li.nav_gamespage  {
    font-size: medium;
}

header, .icon_footer, .heart_icon_gamepage, nav a, .cta, .cta_read_more, .cta_input_footer, .cta_heart, .cta_gamespage, .cta_pay, .cta_login, .cta_input, .cta_discount, .cta_heart_gamespage, .cta_gamepage, #first_section_text, footer, .icon_user, a.game_link, a.cta_login_contactpage, a.cta_input_contactpage  {
    color:var(--white);
}

/* Nav */
nav, #menu-checkbox, #user-checkbox   {
    display: none;
}

#menu-checkbox:checked ~nav, .user-icon:checked ~nav  {
    display: block;
}

nav {
    background: var(--head_foot_blue);
    position: absolute;
}

.header_links {
    float: left;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 15px 20px;
}

nav li {
    display: inline-block;
    padding: 10px 10px 0px;
}

nav a:hover, a.nav_gamespage:hover {
    text-decoration: underline;
}

.signup {
    float: right;
}

a.nav_gamespage, a.game_link {
    text-decoration: none;
}

li.nav_gamespage {
    margin: 0% 6%;
    padding: 8px 25px;
}

/* Buttons */
.cta, .cta_read_more, .cta_input_footer, .cta_heart, .cta_gamespage, .cta_pay, .cta_login, .cta_input, .cta_discount, .cta_heart_gamespage, .cta_gamepage, .cta_input_contactpage, .cta_login_contactpage {
    background-color: var(--orange);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.cta_input, .cta_input_footer, .cta_heart_gamespage, .cta_login, .cta_discount {
    border-style: none;
}

.cta_discount {
    padding: 14px;
}

.cta_gamespage {
    width: 60px;
    display: inline;
    margin-right: 10%;
    padding: 10% 15%;
}

.cta_read_more, .cta_heart, .cta_input, .cta_input_footer, .cta_heart_gamespage, .cta_input_contactpage {
    background-color: #3CAAF0;
}

a.cta_input_footer {
    padding: 9px;
}

a.cta_login_contactpage {
    margin-left: 8%;
}

a.cta_input_contactpage {
    margin-left: 6%;
}

.cta_read_more, cta_heart_gamespage {
    transition-property: background-color;
}

.cta_read_more:hover {
    background-color: var(--orange);
}

.cta_heart_gamespage:hover {
    background-color: var(--pinkish);
}

.cta_input_footer {
    padding: 5px;
}

/* Containers for grid and flex*/ 
.container_about, .container_checkoutsuccess, .order_summary, .checkout_container, .details_checkout, .container_grid_checkout, .checkout_total, .form_contactpage, .container_direct_contact, .container_homepage, .contact_info_footer, .delivery_info {
    display: grid;
}

.container_games_page, .row1, .row2, .row3, .game, .buttons_gamespage, .payment_radio {
    display: flex;
}   

.contact_info_footer, .container_direct_contact, .details_checkout {
    grid-template-columns:repeat(3, 1fr);
} 

.container_homepage, .form_contactpage, .checkout_container,.container_grid_checkout, .checkout_total, .container_checkoutsuccess, .container_about, .container_gamepage  {
    grid-template-columns: repeat(2, 1fr);
}

/* Home Page */
.first_section_homepage {
    background-image: url(../images/motorcross-medium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: bottom;
    background-position-y: top;
    min-height: 70vh;
    margin-left: 5%;
    margin-right: 5%;
}

#first_section_text {
    padding-top: 33%;
}

.container_homepage {
    text-align: left;
    grid-auto-rows: auto;
    margin: 2% 4% 4%;
    gap: 5%;
}

.game_text {
    margin: 6%;
}

.gameimage {
    max-width: 30%;
    float:left ;
    margin: 2%;  
}   

.top_text {
    margin: 0%;
    padding: 2% 5%;
}

/* Games Page */
#top_section_games_page {
    background-image: url(../images/bluecar-medium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    background-position-y: bottom;
    min-height: 50vh;
    margin: 0% 5%;
    padding: 5%;
}

.nav_gamespage{
    display: inline-block;
}

.container_games_page, .row1, .row2, .row3, .game, .buttons_gamespage {
    flex-direction: column;
} 

.row1, .row2, .row3 {
    flex-direction: row;
    align-content: baseline;
    padding-bottom: 3%;
}

.game {
    align-items: center;
}

.image_gamepage {
    max-width: 60%;
    padding: 0%;
}

.buttons_gamespage {
    gap: 3%;
    flex-direction: row;
}

/* Game Page Racing*/
.gameimage_gamepage {
    max-width: 75%;
}

.container_gamepage {
    display: inline-grid;
    grid-template-rows: 350px 350px;
    margin: 5% 15%;
}

.info_gamepage {
    margin-top: 10%;
}

.form_input {
    display: inline;
    background-color: var(--white);
}
.label_gamepage {
    margin: 3%;
    padding: 0%;
}

.price_gamepage {
    margin-left: 30%;
}

.price_gamepage_one{
    margin-left: 33%;
}

.game_info {
    margin-top: 25%;
}

fieldset.game_page {
    margin: 4% 0%;
    max-width: 80%;
    padding-top: 4%;
    border-style: outset;
}

.delivery_info {
    grid-template-columns: 50px 200px;
    grid-template-rows: 50px;
    margin: 5% 0%
}

.deliverytruck {
    margin-top: 60%;
}

/* Contact Page */
.gameimage_contact {
    max-width: 30%;
    padding: 0% 32%;
}

input.contact_input, textarea.contact_input, input.checkout_page {
    display: block;
    margin-bottom: 5%;
}

input.contact_input, textarea.contact_input, label.contact_page {
    margin-left: 30px;
    width: 350px;
}

.contact_info {
    margin: 3% 10%;
}

#log-in-form, #contact-form {
    background-color: var(--pale_orange);
    padding: 8% 5%;
}

.form_contactpage {
    align-items: baseline;
    padding: 2% 10%;
    gap: 3%;
}

#log-in-form {
    margin-right: 35%;
    padding-right: 12%;
}

#contact-form {
    padding-left: 12%;
}

.container_direct_contact{
    justify-items: center;
    margin: 2% 12%;
} 

.direct_contact_header {
    font-weight:lighter ;
    padding-left: 5%;
    margin-bottom: 5%;
    margin-top: 0%;
}

.direct_contact_icons {
    color: var(--head_foot_blue);
}

/* Checkout Page */
.checkout_container, .details_checkout, .container_grid_checkout, .checkout_total {
    grid-auto-rows: auto;
    padding: 2% 5%;
    gap: 5%;
}

.details_checkout {
    align-items: start;
    padding: 1% 0%;
    gap: 1%;
}

.container_grid_checkout, .checkout_total {
    padding: 2% 10%;
}

.checkout_containerone, .checkout_containerthree, .checkout_containertwo {
    grid-column: 1;
    grid-row: 1;
    padding-top: 5%;
}

.checkout_containertwo {
    grid-column: 2;
    padding-top: 5%;
}

.checkout_containerthree {
    padding-top: 60%;
}

.customer_details {
    border-style: solid;
    border-color: lightgrey;
    border-width: thin;
    border-radius: 3%;
    padding: 5%;
    max-height: 300px;
}

.header_customer_detail {
    color: lightgrey;
}

.payment_radio {
    margin: 3% 0%;
}

.payment_info_header {
    padding: 3% 0% 0% 0%;
}

.checkout_summary {
    background-color:var(--pale_orange);
    max-width: 500px;
    padding: 5% 10%; 
}

.gameimage_checkout {
    max-width: 50%;
}

input.cardholder {
    display: block;
    margin-bottom: 2%;
}

input.discount_input {
    display: inline;
    padding: 10px;
}

.discount_container {
    padding: 3% 2% 0%;
}

.price_checkout, .price_details_checkout {
    text-align: end;
}

.checkout_text, .checkout_text_top {
    padding: 4% 0%;
}

.price_details_checkout{
    padding-right: 30%;
    padding-top: 35%;
}

input.radio_checkout {
    margin-right: 4%;
}

/*Checkout Success */
.container_checkoutsuccess, .order_summary {
    gap: 5%;
}

.container_checkoutsuccess {
    grid-auto-rows: auto;
    padding: 5% 5%;
}

.order_summary {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 5%;
}

.ordersummary_header {
    font-weight: bold;
}

.success_information {
    padding: 3%;
    padding-top: 5%;
}

.green_checksymbol {
    max-width: 50%;
    padding-left: 25%;
}

.order_confirmed {
    padding-bottom: 5%;
}

/* About Page */
.about_image {
    max-width: 80%;
    padding: 5%;
    margin: 5%;
}

#about_info_text {
    text-align: left;
    margin: 3%;
    padding: 8%;
}

/* Media Queries */
/* Phone */
@media (min-width: 800px) {
    nav {
        display: block;
        position: static;
    }

    .hamburger-icon  {
        display: none;
    }

    nav a {
        display: inline-block;
    }
}

@media (max-width: 799px) {
    /* Common settings? */
    .container_homepage, .container_checkoutsuccess, .checkout_container, .container_gamepage, nav.links_topbar_gamespage {
        display: flex;
        flex-direction: column;
        padding: 5% 0%;
    }

    nav.links_topbar_gamespage {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0% 2%;
        margin-right: 2%;
    }

    .form_contactpage, .container_about, .contact_info_footer {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .first_section_homepage {
        background-image: url(../images/motocross-big.jpg);
        background-position-x: center;
        background-position-y: top;
    }

    #first_section_text {
        padding-top: 142%;
    }

    #top_section_games_page{
        background-image: url(../images/bluecarsmall.jpg);
        background-position-x: left;
        background-position-y: bottom;
        min-height: 20vh;
    }

    .first_section_homepage, #top_section_games_page {
        margin-right: 5%;
        margin-left: 5%;
    } 
    
    .game_section {
        padding: 5% 0%;
    }

    .cta_read_more {
        float: right;
    }

    /* Fonts */
    .newsletter, .contact_text_footer, nav.footer_social {
        font-size: xx-small; 
    }

    a.nav_gamespage, .container_direct_contact, nav.links_topbar_gamespage   {
        font-size: small;
    }

    .direct_contact_header, .h2-item_topbar, .cta_gamespage, #first_section_text, .h1heading, input, textarea, label, .contact_info {
        font-size: medium;
    }

    .label_gamepage, .price_gamepage, .price_gamepage_one {
        font-size: large;
    }

    /* Footer */
    .contact_info_footer {
        grid-template-rows: repeat(3, 1fr);
        padding: 5%;
        justify-content: center;
        gap: 2%;
        margin: 0%;
    }

    .contact_text_footer, nav.footer_social  {
        display: flex;
    }

    .footer_social {
        margin-left: 4%;
    }

    .newsletter, .contact_text_footer, nav.footer_social {
        padding: 0% 4%;
    }
    
    input.input_newsletter {
        padding: 2% 3%;
        margin: 0% 4%;
        width: 200px;
    }

     /* Games Page */
    .cta_heart_gamespage {
        padding: 10px;
        margin: 1% 2%;
    }
    
    .cta_gamespage {
        padding: 5px;
    }

    .container_games_page {
        margin-top: 36%;
    }
    .row1, .row2, .row3 {
        align-content: baseline;
        padding-bottom: 5%;
        flex-wrap: wrap;
    }
    
    .game {
        max-width: 50%;
    }

    li.nav_gamespage {
        margin: 1% 3%;
    }

    .h2-item_topbar {
        padding: 1% 20%;
        color: var(--black);
    }

    /* Contact page */

    .form_contactpage {
        padding: 2% 5%;
        gap: 0%;
    }

    a.cta_login_contactpage {
        margin-left: 11%;
    }
    
    a.cta_input_contactpage {
        margin-left: 10%; 
    }

    input.contact_input, textarea.contact_input, label {
        margin-left: 30px;
        width: 200px;
    }

    #log-in-form, #contact-form {
        margin: 4%;
    }

    #contact-form, #log-in-form {
        padding-left: 7%;
    }


    /* Checkout */
    .checkout_summary {
        margin-top: 5%;
    }

    .checkout_container{
        margin-top: 0%;
        flex-direction: column-reverse;
    }

    /* Racing */
    .container_gamepage {
        display: inline-grid;
        grid-template-columns: 1fr;
        grid-template-rows: 350px 350px 350px;
        margin: 5% 5%;
    }

    .label_gamepage {
        margin: 3%;
        padding: 0%;
    }
    
    .price_gamepage {
        margin-left: 15%;
    }
    
    .price_gamepage_one{
        margin-left: 18%;
    }

    .info_gamepage {
        margin-top: 20%;
    }

    .gameimage_gamepage {
        max-width: 80%;
    }

    fieldset {
        padding-bottom: 2%;
    }

    .checkout_containerone {
        margin-top: 5%;
    }

    .checkout_containerthree {
        padding-top: 0%;
    }    

    /* About */
    .container_about {
        grid-template-rows: repeat(2, 1fr);
    }
}

/* Tablet */ 
@media (min-width: 800px) and (max-width: 1080px) {
    /* Header & Footer */
    .header_links {
        font-size: smaller;
    }

    .logo_image {
        background-image: url(../images/GameHub_Logo.png);
        min-height: 5vh;
    }
    
    .contact_info_footer {
        display: flex;
        flex-direction: column;
        padding: 5% 25%;
        margin: 0%;
    }
    
    .newsletter {
        font-size: x-small;
    }
    
    .text_footer, .info_footer  {
        padding-left: 2%;
    }

    .footer_social {
        padding-bottom: 8%;
        padding-left: 8%;
    }

    input.input_newsletter {
        display: inline-block;
        padding: 2% 4%;
        margin: 0% 5%;
        width: 250px
    }

    /* Fonts */

    a.nav_gamespage, input, textarea, label, .contact_info {
        font-size: medium;
    }

    .text_footer, .info_footer, .order_summary, nav.links_topbar_gamespage  {
        font-size: small;
    }

    .h2-item_topbar, .label_gamepage, .price_gamepage, .price_gamepage_one, #first_section_text  {
        font-size: large;
    }

    /* Homepage */
    #first_section_text {
        padding-top: 87%;
    }

    .cta_read_more {
        float: right;
    }

    /* Game page */
    #top_section_games_page{
        background-image: url(../images/bluecar.jpg);
        min-height: 25vh;
    }
    
    .nav_gamespage{
        display: inline-block;
        align-items: center;
    }
    
    li.nav_gamespage {
        margin: 1%;
        padding-left: 4%;
    }

    .h2-item_topbar {
        padding: 1% 35%;
        color: var(--black);
    }

    /* Racing page */
    .container_gamepage {
        display: grid;
        margin: 5% 5%;
    }

    .price_gamepage {
        margin-left: 15%;
    }
    
    .price_gamepage_one{
        margin-left: 19%;
    }

    .info_gamepage {
        margin-top: 10%;
    }

    .gameimage_gamepage {
        max-width: 90%;
        margin-top: 5%;
    }

    /* Checkout */
    .checkout_container, .details_checkout, .container_grid_checkout, .checkout_total {
        padding: 3% 3%;
        gap: 3%;
    }
    
    .checkout_container{
        display: flex;
        flex-direction: column-reverse;
    }

    .container_grid_checkout, .checkout_total {
        padding: 2% 5%;
    }

    .checkout_containerthree {
        padding-top: 0%;
    }

    .checkout_containertwo, .checkout_containerone, .checkout_containerthree {
        margin: 2% 6%;
    }
    
    /*Checkout Success */
    .container_checkoutsuccess {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        padding: 3% 3%;
    }

    .order_summary {
        gap: 3%;
        padding-top: 5%;
    }

    /* Contact Page */
    .gameimage_contact {
        max-width: 50%;
        padding: 3% 25%;
    }

    .form_contactpage {
        padding: 2% 5%;
        gap: 0%;
    }

    a.cta_login_contactpage {
        margin-left: 13%;
    }
    
    a.cta_input_contactpage {
        margin-left: 10%; 
    }

    input.contact_input, textarea.contact_input, label {
        margin-left: 30px;
        width: 200px;
    }
}